html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body, html{
  height: 100vh;
}
:root {
  --redux-color: #764abc;
}
.error {
  background: red;
  color: #fff;
}
body {
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
